<section class="single-page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Products</h2>
      </div>
      <div class="col-md-5 align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
            <li class="breadcrumb-item"><%= link_to "Products", admin_products_path %></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Products</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="admin-section-content">
  <div class="container">
    <div class="row">
    <div class="col-sm-12 admin-products">
      <%= render :partial => "shared/flash" %>
      <%= render :partial => 'form' %>
    </div>
    </div>
  </div>
</section>
